* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

main {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    margin: 2rem;
    
}

img {
    width: 350px;
}